/*-----------------------
 Css Style Sheets Start
 -----------------------  */

 /* Header Css Start  */
 
 .header-bg-color{
     background-color: #264653;
 }

 .nav-text-color{
     color: white;
 }

 #header-login-button{
    background-color: #E76F51;
    color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 100px;
 }

 .header-discription{
     font-size: 14px;
     font-weight: 300;
 }

 .header-title{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 600;
 }

 #header-button{
     background-color: #E76F51;
 }

 .section-gap{
    padding-top: 70px; 
    padding-bottom: 80px;
 }
 /* Header Css End  */



  /* Fetured Bikes Section Start */
.future-bike-title{
    font-size: 48px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: black;
    
}
 .hr-tag{
     margin-left: 48%;
     color: #ff3300;
     margin-bottom: 100px;
 }

.bike-grayScale{
    filter: grayscale(90%);
   
}
.bike-section-gap{
    margin-top: 70px;
    margin-bottom: 100px;
}
/* Future Bike Section End  */



/* Happy Client  */
.rating-filled{
    color: #E77C40;
    
}
.rating-no-filled{
    color: rgb(207, 207, 207);
}
.clients-names{
    color: #23A6F0;
    font-size: 14px;
    font-weight: 600;
}
.client-title{
    font-size: 48px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: black;
    margin-bottom: 50px;
}
/* happy client End  */




/* Frequently Asked Questions  Start*/

.quetion-title{
    font-size: 40px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: black;
    margin-bottom: 50px; 
}
.accordion-color-fixed{
    color: #7E848C;
}
/* Frequently Asked Questions End*/




/* On Road Price  */
.road-price{
    font-size: 40px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: black;
    margin-bottom: 50px;   
}
/* On Road Price  End*/



/* 5 Most Expensive Bikes  Start*/

.expensive-bike-title{
    font-size: 40px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: black;
    margin-bottom: 40px; 
    text-align: center;
}
/* 5 Most Expensive Bikes End */




/* Popular Brands Start */
.popular-brand-section{
    margin-top: 100px;
}
#slider-button{
    background-color: rgb(32, 32, 32) ;
    margin-top: 70px;
    margin-bottom: 100px;
}
/* Popular Brands  End*/



/* Footer Start  */
.footer{
    background-color: #0B0D17;;
}
.footer-aboutme{
    color: rgb(136, 136, 136);
    padding-top: 20px;
}
/* Footer End  */


/*-----------------------
 Css Style Sheets End 
 ---------------------*/